<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Smoke suite" verbose="1">
    <test name="PlaceLab Login test">
        <classes>
            <class name="org.example.test.SmokeTest"/>
            <class name="org.example.test.InvalidEmailLoginTest"/>
            <class name="org.example.test.InvalidPasswordLoginTest"/>
            <class name="org.example.test.ValidLoginTest"/>
        </classes>
    </test>
</suite>